body{
    margin:0;
    padding: 2rem;
    font-family: Arial, sans-serif, times roman;
    background-image:;
}

.message{
    width: fit-content;
    max-width: 70%;
    border-radius:.3rem;
    box-shadow:.1rem.1rem.8rem rgba(0,0,0,.1);
    padding:.6rem.9rem;
}